body {
    font-family: 'Cairo', sans-serif;
    background: #666666;
}

h1 {
    font-family: 'Permanent Marker', cursive;
    font-weight: 600;
}

label {
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    font-weight: 600;
}

.rating {
    font-weight: 600;
}

#add-band, .bands {
    color: crimson;
    background: black;
    font-weight: 600;
}